{{page-title "Ex1"}}
<div class ="card">
  <div class ="card-header bg-primary text-light">ex1 : Note d'application</div>
  <div class="card-body">
      <Textarea class="form-control" @value={{this.content}}/>
      <button value="">Enregistrer</button>
      <button>Supprimer</button>
  </div>
</div>
{{outlet}}